html 
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body 
{
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-snap-type: y mandatory;
    background-color: lightblue;
}

.container
{
    width: 100%;
    height: 100%;
}

.container section
{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

/* Animate all big text */
.typewriterItem1
{
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

.aboutContentHolder
{   
    width: 70%;
    min-width: 300px;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    background-color: blanchedalmond;
}

.aboutContent
{
    overflow: auto;
    max-height: 350px;
    padding: 15px 15px 15px 15px;
    border: 1.5px solid black;
}

.itemAnimationRight
{
    animation: moveFromRight 1s;
}

@keyframes moveFromRight 
{
    from {padding-left: 1500px}
    to {padding-left: 0px}
}

/* For top navigation bar */
.navbar 
{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #333;
}

.navbar a 
{
    float: right;
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
}

.navbar a:hover 
{
    background: #ddd;
    color: black;
}

/* For project cards */
.cardHolder
{
    width: 100%;
}

.cardStuff
{
    display: flex;
    flex-direction: row;
    /* padding-left: 75px; */
    text-align: center;
    border-radius: 20px;
    background-color: blanchedalmond;
}

.container .card
{
    width: 280px;
    height: 400px;
    margin: 30px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.card p 
{
    margin: 15px 0px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-wrap: pre-wrap;
    color: #282828;
}

.card h3 
{
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    color: #282828;
}

.card hr 
{
    display: block;
    border: none;
    height: 3px;
    background-color: lightblue;
    margin: 0px;
}

#cardContentHref:hover
{
    color: white;
    background-color: black;
}

#cardContentHref
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: lightblue;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* For project card arrow buttons */
#buttondiv1button
{
    position: relative;
    overflow: hidden;
}

#buttondiv1button:active 
{
    top: 3px;
    box-shadow: none;
}

#buttondiv2button
{
    position: relative;
    overflow: hidden;
}

#buttondiv2button:active 
{
    top: 3px;
    box-shadow: none;
}

#cardstuff div button
{
    width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 1px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 100px;
    border: 2px solid white;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    transition: .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#cardstuff div button:hover
{
    cursor:pointer;
    transition: .15s;
    color: lightblue;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}

/* For contact info */
.modal-window 
{
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target 
{
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div 
{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header 
{
    font-weight: bold;
}

.modal-close 
{
    top: 0;
    right: 0;
    width: 10px;
    font-size: 80%;
    line-height: 5px;
    position: absolute;
    text-align: center;
}

.modal-window h1 
{
    font-size: 150%;
    margin: 0 0 15px;
}

/* Contact form stuff */
* 
{
    margin: 0;
    padding: 0;
}

.contactMe
{
    background: #f8f4e5;
    padding: 50px 100px;
    padding-left: 25px;
    border: 2px solid black;
}

input 
{
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #f8f4e5;
    min-width: 350px;
    padding-left: 5px;
    outline: none;
    color: black;
}

.navbar button 
{
    margin: 0;
    outline: none;
    margin-top: 15px;
    margin-bottom: -10px;
    padding: 0 158px;
    line-height: 28pt;
    letter-spacing: 2px;
    background: #ffa580;
    border: 1px solid black;
    transition: 0.1s all ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.navbar button:active 
{
    top: 3px;
    box-shadow: none;
}

.navbar button:hover 
{
    cursor:pointer;
    color: white;
    background: black;
    border: 1px solid black;
}

input:-webkit-autofill:focus 
{
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    transition: background-color 5000s ease-in-out 0s;
}

/* Resume button */
.resumeButton
{
    float: right;
    cursor:pointer;
    transition: .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.resumeButton:active 
{
    top: 3px;
}

/* Fill class for resume button */
.fill 
{
    outline: 0;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    position: relative;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
}

.fill::after 
{
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    position: absolute;
    background-color: blanchedalmond;
}

.fill:hover::after 
{
    top: 0px;
    left: 0px;
}

/* Side by side divs using float method */
.flexContainer 
{
    width: 100%;
    padding: 75px;
    display: flex;
    align-items: center;
}

.flexChild 
{
    flex: 1;
}